@font-face {
  font-family: "sorabold";
  src: url("./fonts/sora-bold-webfont.woff2") format("woff2"),
    url("./fonts/sora-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soraextrabold";
  src: url("./fonts/sora-extrabold-webfont.woff2") format("woff2"),
    url("./fonts/sora-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soraextralight";
  src: url("./fonts/sora-extralight-webfont.woff2") format("woff2"),
    url("./fonts/sora-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soralight";
  src: url("./fonts/sora-light-webfont.woff2") format("woff2"),
    url("./fonts/sora-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "soraregular";
  src: url("./fonts/sora-regular-webfont.woff2") format("woff2"),
    url("./fonts/sora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sorasemibold";
  src: url("./fonts/sora-semibold-webfont.woff2") format("woff2"),
    url("./fonts/sora-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sorathin";
  src: url("./fonts/sora-thin-webfont.woff2") format("woff2"),
    url("./fonts/sora-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ------- Custom Fonts Integration End -------- */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "soraregular";
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
}

* {
  box-sizing: border-box;
  font-family: "soraregular";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Custom Grid Start */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.justify-content {
  justify-content: center !important;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
/* Custom Grid End */

/* Custom Button Input Start */
.form-control {
  display: block;
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #191442;
  background: #f8f8f8;
  border-radius: 12px;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* border: none; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "soraregular";
  margin-bottom: 16px;
}
.form-control.countryCode {
  font-size: 14px;
  padding: 10px 12px;
  max-width: 54px;
  margin-right: 8px;
  pointer-events: none;
}
.form-control:focus {
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
/* Custom Button Input End */


/* Custom Input Label */
.form-label{
  font-size: 12px;
  line-height: 15.12px;
  color: #6B6874;
  margin-bottom: 8px;
  display: block;
}

/* Datepicker start */

.datepicker .react-datepicker{
  border: 1px solid #E0DFE7;
  box-shadow: 0px 4px 8px -2px #2D2B4029;
  border-radius: 12px;
  overflow: hidden;
}

.datepicker .react-datepicker__header{
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 0;
}

.datepicker .react-datepicker__year-read-view--down-arrow, .datepicker .react-datepicker__month-read-view--down-arrow, .datepicker .react-datepicker__month-year-read-view--down-arrow, .datepicker .react-datepicker__navigation-icon::before{
  border-width: 2px 2px 0 0;
  border-color: #B0ADBE;
  height: 5px!important;
  top: 17px;
  width: 5px;
}

.datepicker .react-datepicker__current-month, .datepicker .react-datepicker-time__header, .datepicker .react-datepicker-year-header{
  display: none;
}

.datepicker .react-datepicker__month-read-view--selected-month, .datepicker .react-datepicker__year-read-view--selected-year{
  margin-bottom: 22px;
  color: #FF844B;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.datepicker .react-datepicker__day-name{
  color: #B0ADBE;
  margin: 0 8px 0;
}

.datepicker .react-datepicker__day-name, .datepicker .react-datepicker__day, .datepicker .react-datepicker__time-name{
  width: 36px;;
  height: 30px;;
  line-height: 2rem;
  
}

.datepicker .react-datepicker__day, .datepicker .react-datepicker__time-name{
  margin: 0 8px 16px;
}

.datepicker .react-datepicker__day--keyboard-selected, .datepicker .react-datepicker__month-text--keyboard-selected, .datepicker .react-datepicker__quarter-text--keyboard-selected, .datepicker .react-datepicker__year-text--keyboard-selected,
.datepicker .react-datepicker__day--selected{
  background-color: #FF844B;
}

.datepicker .react-datepicker__month-read-view--down-arrow, .datepicker .react-datepicker__year-read-view--down-arrow{
  display: none;

}

/* Datepicker end */

/* Custom Button Css Start */
.btn {
  margin-top: 15px;
  font-family: "soraregular";
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  padding: 17px 24px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #007bff;
  background: #191442;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}
.btn:hover {
  color: #fff;
  background-color: #0069d9;
}
.btn:active {
  color: #fff;
  background-color: #0062cc;
}
.btn:focus {
  color: #fff;
  background-color: #0069d9;
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}
.btn:disabled,
.btn[disabled] {
  background-color: #b0adbe;
  /* pointer-events: none; */
  cursor: no-drop;
}
.btnLInk {
  color: #ff844b;
  font-weight: 600;
  font-size: 14px;
}
/* Custom Button Css End */

/* CSS for Custom Check Box  */
.checkBox {
  display: block;
  margin-bottom: 15px;
}
.checkBox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.checkBox label {
  position: relative;
  cursor: pointer;
  color: #5c5968;
  font-size: 14px;
}
.checkBox label:before {
  content: "";
  -webkit-appearance: none;
  background: transparent;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  height: 22px;
  width: 22px;
  border: solid 2px #41c977;
}

.checkBox input:checked + label:before {
  background: #41c977;
}
.checkBox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  width: 4px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkBox.duelLine label {
  display: inline-block;
  padding-left: 38px;
  line-height: 20px;
}
.checkBox label a {
  color: #ff844b;
  font-weight: 600;
  text-decoration: underline;
  padding-left: 3px;
}
.checkBox.duelLine input:checked + label:before {
  background: #41c977;
  position: absolute;
  left: 0;
}
.checkBox.duelLine input:checked + label:after {
  top: 5px;
}
/* CSS for Custom Check Box  End*/
.title {
  font-size: 24px;
  color: #191442;
  font-weight: 600;
  margin: 0 0 8px 0;
  margin-bottom: 24px;
}
.subTitle {
  color: #6b6874;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  margin-top: 10px;
}

.enterOTP {
  background: #f8f8f8;
  border: solid 1px #e0dfe7;
  border-radius: 12px;
  text-align: center;
}
.enterOTP > [class^="col-"] input {
  width: 100%;
  height: 48px;
  border: none;
  border-right: solid 1px #e0dfe7;
  padding: 0 15px;
  background: transparent;
  text-align: center;
  font-size: 18px;
}
ul.slick-dots li {
  width: 16px;
  transition: all 0.3s ease-in;
  height: 16px;
}

ul.slick-dots li button:before {
  width: 8px;
  height: 8px;
  content: "";
  background: white;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.slick-dots li.slick-active {
  width: 32px;
}
ul.slick-dots li.slick-active button:before {
  opacity: 1;
  background: #1a1244;
  width: 32px;
}
ul.slick-dots {
  position: relative;
  top: 0;
  margin: 24px 0;
}
.otpTimerResend {
  margin-top: 16px;
  margin-bottom: 15px;
}
.text-right {
  text-align: right;
}

.timer {
  font-weight: 600;
  font-size: 14px;
  color: #191442;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
  height: 100%;
}

/* for welcome pages*/
.ContainerBG {
  height: calc(100vh - 84px);
  background: #ffffff;
  position: relative;
  padding-top: 40px;
}
.ContainerBG .bgtop {
  position: absolute;
  top: 0;
  left: 0;
}
.ContainerBG .bgbottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.ContainerBG .bgtop,
.ContainerBG .bgbottom {
  object-fit: cover;
  z-index: 0;
}
.ContainerBG .containerMini {
  width: 100%;
  max-width: 418px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
.ContainerBG .containerMD {
  width: 100%;
  max-width: 828px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
.ContainerBG .containerLG {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
/*end*/
